.App {
  
}

.App-logo {
  height: 140px;
  pointer-events: none;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App a {
  color: #2fbfe7;
}

/* couleur des liens visités */
.App a:visited {
  color: #61dafb;
}

.App-header p:nth-child(3) {
  margin-top: 0;
}

/* MORPION */

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  min-height: 500px;
  padding: 1em;
}

.gridContainer {
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  row-gap: 10px;
  text-align: center;
  background-color: #61dafb;
  margin-top: 1em;
}

.square {
  width: 6em;
  height: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

svg {
  stroke-width: 15px;
  stroke: orangered;
  fill: none;
  stroke-linecap: round;
}

.cross svg {
  stroke: green;
}

/* RESULTAT */

.result {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: bold;
}

button {
  font-size: .8em;
  padding: .5em;
}